   <nav>
   <header class="header row barra-superior border border-darkd d-flex align-content-center rounded">
        <div class="col-2 col-sm-2 col-md-1 col-lg-1 logo d-flex flex-row align-self-start">
            <a href="index.html"><img src="assets/logo_AP.jpg" class="img-thumbnail" alt="..."></a>
        </div>
        <div class="col-5 col-sm-5 col-md-5 col-lg-6 mt-3 mb-3 nombre-programa d-flex">
            <h6 class="fs-sm-1 fs-md-6 mb-1"><i>Argentina Programa</i><br><i class="s-sm-1 fs-md-6 ms-2"> #YoProgramo</i></h6>
        </div>
        <div class="col-5 col-sm-5 col-md-5 col-lg-5 redes d-flex justify-content-end">
            <div class="ln ms-4 mt-2 fs-3">
                <a href="#"><i class="fab fa-linkedin"></i></a>
            </div>
            <div class="ig mx-2 mt-2 fs-3">
                <a href="#"><i class="fab fa-instagram-square"></i></a>
            </div>
            
            <button type="button" class="btn btn-dark btn-sm m-3 text-warning">Login</button>
        </div>
        <hr>
        <div class="imagen-fondo d-flex"> 
            <img src="assets/fondo1.jpg" class="img-fluid">
        </div>
    </header>
</nav>

