<section class="row educacion bg-dark rounded mt-1">
    <h5 class="text-decoration-underline fs-4 text-light mt-1 ms-4">Educación:</h5>
    <div class="contenedor-edu d-flex flex-sm-column">
        <div class="col-5">
            <div class="card secundario bg-warning" style="width: 25rem; height: 90%;">
                <div class="card-body">
                    <h5 class="card-title">{{miPorfolio.educacion.escuela}}<a href="#">
                        <i class="fas fa-edit text-dark ms-3"></i></a>
                        <a href="#"><i class="far fa-window-close text-dark ms-1"></i></a>
                    </h5>
                    <hr>
                    <h6 class="card-subtitle mb-2 text-dark opacity-75">{{miPorfolio.educacion.titulo}}</h6>
                    <p class="card-text">1995-2000</p>
                </div>
            </div> 
        </div>
        <div class="col-5">
            <div class="card unqui bg-warning" style="width: 25rem; height: 90%;">
                <div class="card-body">
                    <h5 class="card-title">{{miPorfolio.educacion.titulo}}<a href="#"><i class="fas fa-edit text-dark ms-3"></i></a><a href="#"><i class="far fa-window-close text-dark ms-1"></i></a></h5>
                    <hr>
                    <h6 class="card-subtitle mb-2 text-dark opacity-75">Universidad Nacional de Quilmes</h6>
                    <p class="card-text">En curso desde Abril 2020</p>
                </div>
            </div> 
        </div>
        <div class="cursos d-flex flex-sm-column">

        </div>
    </div>
</section>
