<section class=" row datosPersonales border-top"> 
    <div class="col-3 col-sm-2 col-md-2 foto-perfil d-flex justify-content-end">
        <a href="#"><i class="fas fa-edit text-dark fs-6"></i></a>
        <img src="assets/Foto Juampi 001 (2).jpg" class="img-thumbnail rounded float-start rounded-circle border border-2 border border-info" alt="">
    </div>
    <div class="col-9 col-sm-10 col-md-10 acercaDe d-flex justify-content-end">
        <div class="btn-edit btn-cruz d-flex">
            <a href="#"><i class="fas fa-edit text-info fs-6 mx-2"></i></a>
            <a href="#"><i class="far fa-window-close text-info fs-6"></i></a>
        </div>
        <p class="parrafo-principal fs-6 d-flex justify-content-md-center my-5 flex-fill text-warning">
            {{miPorfolio.acerca}}
        </p>
    </div>
    <hr>
    <div class="row d-flex justify-content-start">
        <div class="col-5 d-flex">
             <ul class="listaDatos">
                 <li class="ms-4 mt-4">
                    <a href="#"><i class="fas fa-edit text-warning fs-6"></i></a>
                    <a href="#"><i class="far fa-window-close text-warning fs-6 ms-1"></i></a>
                </li>
                <li class="nombre ms-5 mt-4 vw-100 fw-bolder text-uppercase text-info fs-md-6 fs-lg-3">
                    {{miPorfolio.nombre}}
                </li>
                <li class="titulo ms-3 vw-100">
                    <strong>
                        {{miPorfolio.certificado}}
                    </strong>
                </li>
                <li class="email mt-1 badge bg-warning text-dark">
                    <a href="#" class="link-dark">
                        {{miPorfolio.email}}
                    </a>
                </li>
                <li class="tel ms-5 mt-2 vw-100">
                    <i class="fas fa-mobile-alt text-info mx-2"></i>
                    {{miPorfolio.tel}}
                </li>
            </ul>
        </div>
    </div>
</section>
