*{
    box-sizing: border-box;
}

.container{
    flex-direction: row;
}

    .barra-superior{
        font-family: 'Montserrat', sans-serif;
        align-items: center;
        background-color: #FFE400;
    }
    .logo img{
        height: auto;
        border-color: black;
        margin-top: 0.3rem;
        margin-left: 0.6rem;
    }
    .nombre-programa{
        text-shadow: 0.06rem 0.13rem #fff;
    }
        .redes i{
            color: black;
        }

.imagen-fondo img{
   width: 90%;
   height: auto;  
}

.datosPersonales{
    background-image: url("assets/fondo8.jpg");
    background-size: cover; /*hace que la img cubra todo el fondo */
    color: antiquewhite;
    background-color: #191A19;
    border-color: #FFF323;
}
.parrafo-principal{
    font-family: 'Bangers', cursive;
    letter-spacing: 4px;
    text-shadow: 0rem 0.06rem #FFF323;
} 
    
.foto-perfil {
    height: 10%;
    margin-top:-6rem;
    margin-left: 0.9rem;
}
.listaDatos{
    list-style: none;
}
.nombre{
    font-family: 'Indie Flower', cursive;
    font-size: x-large;
    letter-spacing: 0.3rem;
    text-shadow: 0.06rem 0.13rem #FFE400;
}
 .titulo{
     color: #FFE400;
     font-family: 'Indie Flower', cursive;
    font-size: larger;
    letter-spacing: 0.3rem;
    text-shadow: 0rem 0.06rem #FFF323;
 }  
.email{
    font-family: 'Indie Flower', cursive;
    font-size: large;
    letter-spacing: 0.3rem;
    text-shadow: 0rem 0.06rem lightblue;
}
.tel{
    color: #FFE400;
    font-family: 'Lobster', cursive;
    font-size: large;
    letter-spacing: 0.19rem;
}

    .acercaDe{
        height: 50%;
        padding: 0.3rem;
        font-size: medium;
        flex-wrap: wrap;
        margin-left: 2rem;
        width: 70%;
    }

.experiencia{
    background-image: url("assets/fondo4.png");
    background-size: cover; 
    background-color: #191A19;
    margin-top: 0.06rem;
    }
    .card-header{
        margin-bottom: 0.13rem;
    }
   .trabajo{
    height: 70%;
   }
   .empresa h6{
    font-family: 'Indie Flower', cursive;
   }


.secundario{
    background: #EEEBDD;
    height: 90%;
}
.educacion{
    background-image: url("assets/fondo4.png");
    background-size: cover;
}
.skills{
    background-image: url("assets/fondo4.png");
    background-size: cover; 
}
    .soft-s h6{
        color:#FFE400;
        font-family: 'Rampart One', cursive;
        letter-spacing: 2px;
    }
    .hard-s h6{
        color:#FFE400;
        font-family: 'Rampart One', cursive;
        letter-spacing: 0.13rem;
    }

@media (min-width: 576px) {
    .foto-perfil{
       margin-bottom: -5rem;
    }
}



        

    
    
            
            


        

         


       

    


